{% extends 'base.html.twig' %}

{% block title %}Ajout Voiture{% endblock %}

{% block body %}
<section id="add">
    <a href="{{ path('app_home') }}">← Retour</a>
    <h1>Ajouter une voiture</h1>
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        
        <div class="input">
            {{ form_row(form.nom) }}
        </div>
        <div class="input">
            {{ form_row(form.description) }}
        </div>
        <div class="flex-input">
            <div class="input">
                {{ form_row(form.prixMensuel) }}
            </div>
            <div class="input">
                {{ form_row(form.prixQuotidien) }}
            </div>
        </div>
        <div class="flex-input">
            <div class="input">
                {{ form_row(form.places) }}
            </div>
            <div class="input">
                {{ form_row(form.manuelle) }}
            </div>
        </div>
        
        <button class="btn-add" type="submit">Ajouter</button>
        

    {{ form_end(form) }}
</section>
{% endblock %}